.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;

  height: unset;

  >section {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}