/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  background: #e4e1e0;
  color: #111;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
  padding: 1.5em 1.5em 0 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 20vw;
}

ul {
  margin: 2rem 0;
}

blockquote {
  font-size: 2vw;
  line-height: 1.25;
}

section {
  height: 90vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  width: 100%;
  gap: 1rem;
}

.container {
  width: 90%;
  max-width: 720px;
  margin: auto;
}