header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;

  width: calc(100% - 0em);
  margin: 2em auto 2em auto;

  background-color: #e4e1e0;
  border-bottom: 1px dashed #999;

  padding: .5em;

  img {
    height: 40px;
  }
}