.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100svh;
  background: var(--color-dark);
  position: relative;
  overflow: hidden;
  // z-index: 2;

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    h1 {
      opacity: 0;
      height: 0;
      visibility: hidden;
    }

    img {
      width: min(90%, 1200px);
      margin-bottom: 2rem;
      // filter: invert(1);
    }

    p {
      width: min(70%, 620px);
      color: var(--color-light);
    }
  }
}

.hero-content {
  z-index: 2;
  transition: opacity 0.5s, transform 0.5s;
}

// .next-section {
//   position: relative;
//   background: #fff;
//   padding: 10vh 5vw;
//   z-index: 1;
// }

// Visual "helper" to better UX, this is a Scroll indicator 
.scroll-indicator {
  position: absolute;
  top: unset;
  right: unset;
  bottom: 5%;
  left: 50%;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 20px;

  @media (width>767px) {
    top: 50%;
    right: 10px;
    bottom: unset;
    left: unset;
  }

  .scroll-text {
    display: inline-block;
    transform: translateY(-16px);

    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--color-light);

    @media (width>767px) {
      transform: rotate(-90deg) translateX(24px) translateX(0);
    }
  }

  .scroll-line {
    display: block;
    width: 1px;
    height: 48px;
    margin: 0 auto;
    background: #00000075;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background: #fff;
      animation: scrollPulse 2s infinite;
    }
  }
}

@keyframes scrollPulse {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}