.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 4rem 1.5rem;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .definition {
    font-style: italic;
    margin-bottom: 2rem;
  }

  .ingredients {
    margin: 2rem 0;
    font-weight: bold;
  }

  ul {
    text-align: left;
    margin: 5rem auto 2.5rem auto;
    padding-left: 0;

    li {
      text-align: center;
      list-style: none;
    }
  }

  p {
    max-width: 480px;
    margin: 1rem auto;
  }
}