#loader {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  pointer-events: none;
}

.loader-content p {
  font-size: 1em;
  letter-spacing: 0.1em;
  opacity: 0;
}