---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import MainContent from "../components/MainContent.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nuda – Pure Pasta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />
    <Nav />
    <MainContent />
    <Contact />
    <Footer />
  </body>
</html>
