---
import '../main.scss';
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Main from "../components/Main.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nuda – Pure Pasta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="lenis">
      <Header />
      <Hero />
      <Main />
      <Cta />
      <Footer />
    </div>

    <!-- <script type="module" src="/src/scripts/animations.js" />
    <script type="module" src="/src/scripts/scroll.js" /> -->
  </body>
</html>
