--- 
---
<button id="scrollTopBtn" class="btn btn-scroll">Up</button> 
<footer class="footer">
  <div class="footer-content">
    <a href="mailto:@nudafoods.com"><img src="/logo-nuda.svg" alt="Nuda. Pasta." /></a>
    <h3><span>Nuda. </span><em>Purely provocative.</em></h3>
  </div>
</footer>