---
import Nav from "../components/Nav.astro";
---
<header class="header">
  <div class="header-logo">
    <a href="/"><img src="/logo-nuda.svg" alt="Nuda. Pasta." class="logo" /></a>
  </div>
  <Nav />
</header>
