---
---
<section class="hero fade-in"> 
  <div class="hero-content">
    <h1>Nuda</h1>
    <img src="/logo-nuda.svg" alt="Nuda Logo" class="logo hero-title" />
    <p class="hero-subtitle"><em>-adj. [noo-dah]</em>: The Italian word for naked. Being bare or stripped.</p> 
  </div>
  <div class="scroll-indicator" id="scroll-indicator">
    <span class="scroll-text">Scroll</span>
    <span class="scroll-line"></span>
  </div>  
</section>