---
---
<section class="hero fade-in"> 
  <h1>Nuda</h1>
  <img src="/logo-nuda.svg" alt="Nuda Logo" class="logo" />
  <p><em>-adj. [noo-dah]</em>: The Italian word for naked. Being bare or stripped.</p> 

  <div class="scroll-indicator" id="scroll-indicator">
    <span class="scroll-text">Scroll</span>
    <span class="scroll-line"></span>
  </div>  
</section>