---
---
<main id="home" class="main">
  <h1>Nuda</h1>
  <p><em>-adj. [noo-dah]</em>: The Italian word for naked. Being bare or stripped.</p>
  <p>We’ve stripped back every unnecessary ingredient to create something pure: A pasta made from three ingredients:</p>
  <ul>
    <li>Organic California-grown almonds</li>
    <li>Cassava</li>
    <li>Psyllium</li>
  </ul>
  <p>Nothing else.</p>
  <p>This is pasta reinvented.</p>
  <p>Gluten-free, guilt-free, protein-packed, and ready in under 10 minutes. And the taste? Purely indulgent.</p>
  <p>There’s an art to simplicity, and to our deliciously healthy indulgence. Nuda is here to bare it all.</p>
</main>
<section class="fade-in">Hola mundo</section>


