---
---
<main id="home" class="home"> 

  <section class="section section-ingredients" data-section="ingredients" id="ingredients">
    <div class="container">
      <h2 class="fade-up">We’ve stripped back every unnecessary ingredient to create something pure.  A pasta made from three ingredients:</h2>
    </div>
    <ul>
      <li class="fade-up">Organic California-grown almonds</li>
      <li class="fade-up">Cassava</li>
      <li class="fade-up">Psyllium</li>
    </ul>
    <h3 class="fade-up"><em>Nothing else.</em></h3>
  </section>
    
  <section class="section section-reinvented" data-section="reinvented" id="reinvented">
    <div class="container">
      <h3 class="fade-up">This is pasta <em>reinvented.</em></h3>
      <p class="fade-up">Gluten-free, guilt-free, protein-packed, and ready in under 10 minutes. And the taste? Purely indulgent.</p>
      <p class="fade-up">There’s an art to simplicity, and to our deliciously healthy indulgence. </p>
     </div>
  </section>

  <section class="section section-final" data-section="final">
    <div class="container">
        <h3 class="fade-up">Nuda <em>is here to bare it all.</em></h3>
    </div>
  </section>

</main> 


