---
---
<main id="home" class="home"> 

  <section class="section section-ingredients" data-section="ingredients">
    <div class="container">
      <h2>We’ve stripped back every unnecessary ingredient to create something pure.  <br /> A pasta made from three ingredients:</h2>
      <ul>
        <li>Organic California-grown almonds</li>
        <li>Cassava</li>
        <li>Psyllium</li>
      </ul>
      <p><em>Nothing else.</em></p>
    </div>
  </section>
    
  <section class="section section-reinvented" data-section="reinvented">
    <div class="container">
      <h3>This is pasta reinvented.</h3>
      <p>Gluten-free, guilt-free, protein-packed, and ready in under 10 minutes. And the taste? Purely indulgent.</p>
      <p>There’s an art to simplicity, and to our deliciously healthy indulgence. Nuda is here to bare it all.</p>
    </div>
  </section>

</main> 


