---
--- 
<section id="social" class="section social">
  <h3>Indulge yourself.</h3>
  <p>
    <a href="https://instagram.com/nudafoods" target="_blank" rel="noopener">
    <img src="/icon-instagram.svg" alt="Instagram" class="social-icon" />
    Follow us on Instagram.
    </a>
  </p>
</section> 
