---
--- 
<section id="social" class="social">
  <h2>Indulge yourself.</h2>
  <p>Follow us on Instagram.</p>
  <a href="https://instagram.com/nudafoods" target="_blank" rel="noopener">
    <img src="/icon-instagram.svg" alt="Instagram" class="social-icon" />
  </a>
</section> 
